.page__container {
  padding: 0 48px;
}

@media (min-width: 321px) and (max-width: 768px) {
  .page__container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__container {
    padding: 0 16px;
  }
}